body {
    background-color: burlywood !important;
}

div {
    margin: 30px !important;
    color: white !important;
    background-color: darkgray !important;
    font-family: "Courier New" !important;
    border-radius: 6% !important;
}

/*for some reason the header isn't working*/


.facePict {
    /*grid-column-start: 3;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 6%;
    border: 5px solid burlywood;
}

.name {
    text-align: center;
    padding-top: 2rem;
}

.subTitle {
    display: inline-block;
    width: 50%;
    padding-top: 0.5rem;
    padding-right: 2rem;
}

.location {
    display: inline-flex;
    text-align: right;
    padding-top: 0.5rem;
}

.closingStatement {
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 2rem;
}


.container-fluid {
    border: 5px solid burlywood;
}


.body {
    border-style: solid;
    padding: 5px;
}

/* I truly struggled to amke these individual inline structures so I put them in a table*/
.education {
    align-items: flex-start;
    display: inline-block;
    width: 65%;
}

.experience {
    align-items: flex-start;
    display: inline-block;
    width: 75%;
}

.funThings {
    align-items: flex-end;
    display: inline;
    width: 25%;
    justify-content: right;
    vertical-align: top;
    text-align: right;
    justify-content: right;
}

.soloPic {
    align-content: center;
    justify-content: center;
    object-fit: contain;
    vertical-align: middle;
    margin: 2rem;
    align-items: center;
}




.footer {
    border-style: solid;
    padding: 5px;
    border: 5px solid burlywood;
}

.contactHeading {
    text-align: center;
}

.link {
    display: center;
}

.phoneNumber {
    display: inline-block;
}
@keyframes animatedSquare {
    0%   {transform: rotate(0deg);}
    50%  {transform: rotate(-3deg);}
    100% {transform: rotate(3deg);}
  }
.img-fluid:hover {
    background-color: darkgray;
    animation-name: animatedSquare;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    margin: 2rem;
}

.header,
.body {
    background-image: url(images/background.jpg);
    background-repeat: repeat-x;
}

@media only screen and (max-width: 600px) {
    body {
        text-align: center;
    }

    .facePict {
        width: 150px;
        height: 200px;
    }
}


@media only screen and (min-width: 768px) {
    .facePict {
        width: 250px;
        height: 300px;
    }
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) 
         @media only screen and (min-width: 1200px) {
            body { ; }
         }*/